Django==3.2.4
django-cors-headers==3.7.0
django-extensions==3.1.3
djangorestframework==3.12.4
gunicorn==20.1.0
nose==1.3.7
numpy==1.20.3
pandas==1.2.4
Pillow==8.2.0
psycopg2==2.8.6
python-dateutil==2.8.1
python-slugify==5.0.2
simplejson==3.17.2
django-3-jet==1.0.8
ipython==7.24.1
Shapely==1.7.1
joblib==1.0.1
pyarrow==4.0.1
django-flat-json-widget==0.1.3
django-storages==1.12.3

https://bitbucket.org/pumpwood-development/pumpwood-communication/get/0.67.zip
https://bitbucket.org/pumpwood-development/pumpwood-flaskmisc/get/0.27.zip
https://bitbucket.org/pumpwood-development/pumpwood-kong/get/0.21.zip
https://bitbucket.org/pumpwood-development/pumpwood-viewutils/get/0.66.zip
https://bitbucket.org/pumpwood-development/pumpwood-django-auth/get/0.16.zip
